<app-loading *ngIf="!Atores && !hasError"></app-loading>
<app-error *ngIf="!Atores && hasError"></app-error>
<div *ngIf="Atores && !hasError" class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="100%" fxFlex.sm="100%" fxFlex.sm="100%">
        <button mat-flat-button color="primary" (click)="openNewActorModal()">Adicionar ator</button>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let ator of Atores">
        <app-actor-card [Ator]="ator"></app-actor-card>
    </div>
</div>
