<mat-card class="mat-elevation-z4">
    <mat-card-header>
      <img mat-card-avatar class="actor-image" [src]="Ator.filmes.imagem" onError="this.src='./../../../../assets/user.png'">
      <mat-card-title>{{Ator.filmes.nome}}</mat-card-title>
      <mat-card-subtitle>{{Ator.data_nascimento}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [routerLink]="['/actors/detail', Ator.nome]" class="moviePoster-image routerLinkMovie" 
    [src]="Ator.imagem" alt="Photo of a {{Ator.nome}}">
    <mat-card-content>
        <span [routerLink]="['/actors/detail', Ator.nome]" class="mat-h2 routerLinkMovie">{{Ator.nome}}</span> 
        <p>
            {{sliceSnyposis(Ator.biografia)}}
        </p>
    </mat-card-content>
</mat-card>
