.actor-image {
    background-size: cover;
}

.moviesPoster-image {
    height: 400px;
}

.content {
    width: 200px;
}

.routerLinkMovie {
    cursor: pointer;
}

.routerLinkMovie:hover {
    text-decoration: underline;
}