<mat-card class="mat-elevation-z4">
    <mat-card-header>
      <img mat-card-avatar class="actor-image" [src]="Filme.ator.imagem">
      <mat-card-title>{{Filme.ator.nome}}</mat-card-title>
      <mat-card-subtitle>{{Filme.genero}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="moviePoster-image" [src]="Filme.imagem" alt="Photo of a {{Filme.nome}}">
    <mat-card-content>
        <span class="mat-h2">{{Filme.nome}}</span> 
        <p>
            {{sliceSnyposis(Filme.sinopse)}}
        </p>
    </mat-card-content>
</mat-card>